<div class="exercise">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>


    <div ng-repeat="item in items" class="col-xs-12 col-sm-6 col-md-4">
        <img ng-src="{{ item.src }}" alt="image{{ $index }}" class="{{imageHeight}}"/>

        <div class="btn-group">
            <button type="button"
                    class="btn btn-default btn-option"
                    ng-model="selectedOption"
                    data-html="1"
                    bs-options="option.id as option.name for option in shuffleItems"
                    bs-select
                    value="{{selectedOption}}"
                    placeholder="{{select}}"
                    >
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <a class="btn btn-default btn-previous" ng-href="{{previousHref}}" ng-disabled="previousDisabled">
                {{previous}}
            </a>
        </div>
        <div class="col-xs-4">
            <a href="" class="btn btn-default" ng-click="button_clicked||checkAllAnswers()" ng-disabled="button_clicked" ng-show="!checked">
                {{ checkAnswers }}
            </a>

            <a href="" class="btn btn-default" ng-click="clear()" ng-show="checked">
                {{ tryAgain }}
            </a>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-default btn-next" ng-href="{{nextHref}}" ng-disabled="nextDisabled">
                {{next}}
            </a>
        </div>
    </div>
</div>