.exercise {
    img {
        display: list-item;
        margin: 40px auto 0;

        &.img-sm {
            height: 140px;
        }

        &.img-lg {
            height: 352px;
        }
    }

    .btn-group {
        display: table;
        margin: 0 auto;

        &.open {
            button {
                background: white;
                color: black;

                &.dropdown-toggle {
                    &:focus,
                    &:hover,
                    &:active{
                        background: white;
                        color: black;
                    }
                }
            }
        }
        button {
            color: black;
            width:220px;

            &:focus {
                background: inherit;
                color: inherit;
            }

            &.btn-danger,
            &.btn-success {
                color: white;
                &:focus,
                &:active {
                    background: white;
                    color: black;
                }
            }
        }
    }

    .row {
        .btn {
            display: table;
            margin: 50px auto 0;

            &.btn-previous {
                &::before {
                    content: "\2190";
                }
            }

            &.btn-next {
                &::after {
                    content: "\2192";
                }
            }
        }
    }
}